.formWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.legend {
  text-align: center;
}

.submitButton {
  margin-top: 10px;
}

.error {
  color: red;
  align-self: baseline;
}
